a {
  text-decoration: none;
}

.text-primary {
  color: var(--primary-color) !important;
}

.editable-cells-table .p-editable-column {
  &:hover {
    cursor: text;
    background-color: var(--surface-50);
  }
  &.p-cell-editing {
    padding: 0 !important;
    input {
      padding: 1rem 1.5rem;
      width: 100%;
    }
  }
  .p-inputnumber {
    width: 100%;
  }
}

.p-field + .p-field {
  margin-top: 1rem;
}

.p-field label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.p-dialog .p-dialog-content {
  padding-top: 3px; // leave space for first input outline shadow
}
.p-tieredmenu {
  width: auto;
}
.p-datatable-scrollable .p-frozen-column {
  z-index: 50;
}

